* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* fonte do corpo da página */
    font-family: Arial, sans-serif;
    /* imagem de fundo do corpo da página */
    background-image: url("./bg.png");
    /* não repete a imagem de fundo  */
    background-repeat: no-repeat;
    /* ajusta a posição da imagem de fundo */
    /* centraliza a imagem de fundo */
    background-position: center;
    /* fixa a imagem de fundo para que não se mova ao rolar a página */
    background-attachment: fixed;
  
    background-size: cover;
    color: #333;
    padding: 20px;
  }
  h1 {
    color: #444;
    text-align: center;
    margin-bottom: 3rem;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .card {
    backdrop-filter: blur(12px) brightness(1.2);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.362);
    margin-bottom: 20px;
    padding: 15px;
    width: 400px;
    height: 600px;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    overflow: hidden;
  }
  
  .card .head-card {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
  }
  
  h2 {
    text-align: center;
    margin: 2rem 0;
  }
  
  .card .boletin {
    width: 100%;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .card td,
  .card th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .card th {
    background-color: #f2f2f2;
    text-align: center;
  }
  .card tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .card tr:hover {
    background-color: #e9e9e9;
  }
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  .media {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 2rem;
    color: #555;
  }
  .rotate {
    position: relative;
    transform: rotateY(180deg);
    background-color: #333;
    overflow: hidden;
    padding: 0;
    transition: transform 0.4s ease-out;
    transform-style: preserve-3d;
  }
  
  .rotate::after {
    content: attr(data-label);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(100%);
    bottom: 0;
    height: 30%;
    width: 100%;
    color: #fff;
    background-color: #3333336d;
    border-top: 3px solid transparent;
    border-image: linear-gradient(90deg, #fdfdfd, #0007e0, #00c6ff) 1;
    transition: transform 0.4s ease-out;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .rotate:hover::after {
    transform: translateY(0);
  }
  .card-content::after {
    content: attr(data-label);
    transform: rotateY(180deg);
    position: absolute;
    bottom: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    transition: all 0.4s ease-out;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1000;
    overflow: hidden;
    
  }
  .card-content:hover::after {
    bottom: 20%;
  }
  .rotate::after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(100%);
    bottom: 0;
    height: 30%;
    width: 100%;
    color: #fff;
    background-color: #3333336d;
    border-top: 3px solid transparent;
    border-image: linear-gradient(90deg, #fdfdfd, #0007e0, #00c6ff) 1;
    transition: transform 0.4s ease-out;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }